# keycloak-app

KC_HOSTNAME={{ (ds "shared-domains").keycloak_url }}

KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD={{ random.AlphaNum 32 }}

# keycloak-database

POSTGRES_USER=keycloak
POSTGRES_PASSWORD={{ random.AlphaNum 32 }}
