type: S3
config:
  bucket: monitoring-thanos
  endpoint: garage-data.storage.svc.cluster.local:3900
  region: eu-central-1
  access_key: {{ (ds "shared").garage_data_access_key }}
  secret_key: {{ (ds "shared").garage_data_secret_key }}
  insecure: true
