# s3 config

AWS_ENDPOINTS=garage-data.storage.svc.cluster.local:3900
AWS_ENDPOINT_URL=garage-data.storage.svc.cluster.local:3900
AWS_ACCESS_KEY_ID={{ (ds "shared").garage_data_access_key }}
AWS_SECRET_ACCESS_KEY={{ (ds "shared").garage_data_secret_key }}

# grafana

GF_SERVER_ROOT_URL={{ (ds "shared-domains").grafana_url }}
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD={{ random.AlphaNum 32 }}

# grafana-mcp

GRAFANA_SERVICE_ACCOUNT_TOKEN=
