# garage-data

GARAGE_DATA_RPC_SECRET={{ random.String 64 "[0-9a-f]" }}
GARAGE_DATA_ADMIN_TOKEN={{ random.String 40 "[0-9a-f]" }}
GARAGE_DATA_DEFAULT_ACCESS_KEY={{ (ds "shared").garage_data_access_key }}
GARAGE_DATA_DEFAULT_SECRET_KEY={{ (ds "shared").garage_data_secret_key }}

# garage-longhorn

GARAGE_LONGHORN_RPC_SECRET={{ random.String 64 "[0-9a-f]" }}
GARAGE_LONGHORN_ADMIN_TOKEN={{ random.String 40 "[0-9a-f]" }}
GARAGE_LONGHORN_DEFAULT_ACCESS_KEY={{ (ds "shared").garage_longhorn_access_key }}
GARAGE_LONGHORN_DEFAULT_SECRET_KEY={{ (ds "shared").garage_longhorn_secret_key }}

# longhorn backup target

AWS_ENDPOINTS=garage-longhorn.storage.svc.cluster.local:3900
AWS_ACCESS_KEY_ID={{ (ds "shared").garage_longhorn_access_key }}
AWS_SECRET_ACCESS_KEY={{ (ds "shared").garage_longhorn_secret_key }}
VIRTUAL_HOSTED_STYLE=true
