# tailscale

client_id={{ getenv "TAILSCALE_CLIENT_ID" | required "TAILSCALE_CLIENT_ID is not set" }}
client_secret={{ getenv "TAILSCALE_CLIENT_SECRET" | required "TAILSCALE_CLIENT_SECRET is not set" }}
