{{- $pg_pass := random.AlphaNum 32 -}}
# outline-app

URL={{ (ds "shared-domains").outline_url }}

FORCE_HTTPS=false

SECRET_KEY={{ random.String 64 "[0-9a-f]" }}
UTILS_SECRET={{ random.String 64 "[0-9a-f]" }}

FILE_STORAGE=local
FILE_STORAGE_LOCAL_ROOT_DIR=/var/lib/outline/data

DATABASE_URL=postgres://outline:{{ $pg_pass }}@outline-database:5432/outline
PGSSLMODE=disable

REDIS_URL=redis://outline-redis:6379

# outline-smtp

SMTP_HOST=mailpit.communication.svc.cluster.local
SMTP_PORT=1025
SMTP_FROM_EMAIL=outline@{{ (ds "shared-domains").tailnet }}
SMTP_REPLY_EMAIL=outline@{{ (ds "shared-domains").tailnet }}
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_SECURE=false

# outline-database

POSTGRES_DB=outline
POSTGRES_USER=outline
POSTGRES_PASSWORD={{ $pg_pass }}
