# domains

{{- $tailnet := getenv "TAILSCALE_TAILNET" | required "TAILSCALE_TAILNET is not set" }}

tailnet={{ $tailnet }}

## infrastructure

argocd_url=https://argocd.{{ $tailnet }}
grafana_url=https://grafana.{{ $tailnet }}
keycloak_url=https://keycloak.{{ $tailnet }}
longhorn_url=https://longhorn.{{ $tailnet }}

## apps

dev_url=https://dev-code.{{ $tailnet }}
jellyfin_url=https://jellyfin.{{ $tailnet }}
opencloud_url=https://opencloud.{{ $tailnet }}
outline_url=https://outline.{{ $tailnet }}
vaultwarden_url=https://vaultwarden.{{ $tailnet }}
