# s3

garage_data_access_key={{ random.String 20 "[A-Z0-9]" }}
garage_data_secret_key={{ random.AlphaNum 40 }}

garage_longhorn_access_key={{ random.String 20 "[A-Z0-9]" }}
garage_longhorn_secret_key={{ random.AlphaNum 40 }}
