# docmost-app

APP_URL=https://DOCMOST_DOMAIN
APP_SECRET=secret # min 32 length

DATABASE_URL=postgresql://docmost:docmost@docmost-database-service:5432/docmost

REDIS_URL=redis://docmost-redis-service:6379

# docmost-database

POSTGRES_DB=docmost
POSTGRES_USER=docmost
POSTGRES_PASSWORD=docmost

# docmost-redis

# Empty
