# outline-app

URL=https://OUTLINE_DOMAIN

FORCE_HTTPS=false

SECRET_KEY=secret
UTILS_SECRET=secret

FILE_STORAGE=local
FILE_STORAGE_LOCAL_ROOT_DIR=/var/lib/outline/data

DATABASE_URL=postgresql://outline:outline@outline-database-service:5432/outline
PGSSLMODE=disable

REDIS_URL=redis://outline-redis-service:6379

# outline-database

POSTGRES_DB=outline
POSTGRES_USER=outline
POSTGRES_PASSWORD=outline

# outline-redis

# Empty
